<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
	<title>On Arrive</title>
	<meta charset="utf-8" />
		{% load staticfiles %}

<!-- ************************************************************************* -->

	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link rel="icon" href="{% static 'personal/images/flecheicone.ico' %}" />

<!-- ************************************************************************* -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Librairies</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Kala <span class="sr-only">(current)</span></a></li>
        <li><a href="/webmike/homezz">Kili</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Romans <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>

      <!-- Barre Search Forme ************************************** -->
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Trouver">
        </div>
        <button type="submit" class="btn btn-default">Recherche</button>
      </form>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>				 
			  
			  <div class="c"style="background-color:#f6f6f6">
				  <center>
				  <h3>Dakar en 1951</h3>
				  </center>
			  </div>


			  <div class="btn-group" role="group" aria-label="...">
  				<!-- 	<button type="button" class="btn btn-default">Left</button>
  					<button type="button" class="btn btn-default">Middle</button> -->
  					<button type="button" class="btn btn-default"> <a href="/blog">Blog </a> </button>
			  </div>

			  <hr>


</head>

<body class="body" style="background-color:#f6f6f6" >
	<div>
		{% block content %}

		{% endblock %}
	</div>

      <script src="{% static 'personal/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'personal/js/bootstrap.min.js' %}"></script>
</body>



</html>