{% extends "home/header.html" %}
{% load staticfiles%}
{% block content %}
<h3>Sahara Desert in a Delahaye</h3>
<h4>By Mike Diop France</h4>
<p>
<a href='/webmike/homezz'><img src="{% static '/personal/images/onarrive.jpg' %}" style=" text-align:right; margin-right:4px ; border:1px white solid " align="left" height="90" > </a>
 Nunc id tellus maximus, tristique enim quis, fringilla turpis. Nulla leo nibh, placerat at elit non, egestas rutrum neque. Sed bibendum lacus volutpat tortor interdum sagittis. Nunc eu porttitor elit. Praesent facilisis lorem dolor, vitae pulvinar sem tincidunt nec. Nullam lacinia luctus urna, eu eleifend nisl suscipit sit amet. Morbi quis ligula tellus. Phasellus velit ex, pellentesque et elit eu, laoreet porta leo. Nulla mollis non tellus ut porttitor. Aliquam vel nisi placerat, lacinia dui ac, consectetur justo. Suspendisse quis nisi massa.</p>
{%include "includes/includz.html"%}

{% endblock %}