<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heroic</title>

        {% load staticfiles %}
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom CSS -->
   
    <link rel="icon" href="{% static 'personal/images/flecheicone.ico' %}" />  

    <link  href="{% static 'personal/css/main.css' %}" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Start Bootstrap</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
 <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>L'Aventure Commence!</h1>
            <p>Adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
            <p>
                <a <a href="{% url 'sliderz'%}" class="btn btn-primary btn-large">Sliders</a>
            </p>   
            <p>
                <a <a href="{% url 'levures'%}" class="btn btn-primary btn-large">Retour</a>
            </p>
            
        </header>

        </div>
        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Dernières Nouveautés</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail" >
                    <img src="{% static 'personal/images/fjords.jpg' %}" >
                    <div class="caption">
                        <h3>Le Désert</h3>
                        <p>Dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Réserver</a> <a href="#" class="btn btn-default">Infos</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail" >
                    <img src="{% static 'personal/images/girl_hat.jpg' %}"   >
                    <div class="caption">
                        <h3>Voyage Vintage</h3>
                        <p>Lomet, consectetur adipisicing elit ad procol que um terit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Réserver</a> <a href="#" class="btn btn-default">Infos</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="{% static 'personal/images/aaa.jpg' %}" >
                    <div class="caption">
                        <h3>Baptême de l'Air</h3>
                        <p>consectetur Lorem ipsum dolor adipisicing.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Rendez-Vous</a> <a href="#" class="btn btn-default">Infos</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="{% static 'personal/images/monimage.jpg' %}"  >
                    <div class="caption">
                        <h3>Vieux Volants</h3>
                        <p>Elit lorem ipsum dolor sit amet, consectetur adipisicing .</p>
                        <p>
                            <a href="#" class="btn btn-primary">Louer</a> <a href="#" class="btn btn-default">Infos</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

        <div class="row text-center">
            <div class="col-md-4">
      <div class="thumbnail">
        <a href="#">
          <img src="{% static 'personal/images/nature.jpg' %}" style="width:100%">
          <div class="caption" >
            <p>Lumières boréales du Nord at gravida et eget metus.</p>
          </div>
        </a>
      </div>
       </div>
          <div class="col-md-4">
      <div class="thumbnail">
        <a href="#" target="_blank">
          <img src="{% static 'personal/images/lights.jpg' %}" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="#">
          <img src="{% static 'personal/images/fjords.jpg' %}" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
        </a>
      </div>
    </div>

         

        <hr>

        <div class="jumbotron hero-spacer">
            <center><h1>L'Aventure !</h1></center>
            <p></p>
            
        </div >



        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; VoyageVintage.com</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
